svg(id='그룹_58' data-name='그룹 58' xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 40 40')
  path(id='패스_88' data-name='패스 88' d='M20.57,21.712V4.568A3.34,3.34,0,0,0,17.333,1.14H4.377A3.34,3.34,0,0,0,1.14,4.568V21.712A3.335,3.335,0,0,0,4.377,25.14H17.333A3.335,3.335,0,0,0,20.57,21.712Z' transform='translate(9.143 6.857)' fill='none' stroke='#000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1')
  path(id='패스_92' data-name='패스 92' d='M20.57,21.712V4.568A3.34,3.34,0,0,0,17.333,1.14H4.377A3.34,3.34,0,0,0,1.14,4.568V21.712A3.335,3.335,0,0,0,4.377,25.14H17.333A3.335,3.335,0,0,0,20.57,21.712Z' transform='translate(9.143 6.857)' fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5')
  path(id='패스_93' data-name='패스 93' d='M8,10.29H20' transform='translate(5.998 3.995)' fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5')
  path(id='패스_94' data-name='패스 94' d='M8,17.14H20' transform='translate(5.998 2.853)' fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5')
  path(id='패스_95' data-name='패스 95' d='M8,24H20' transform='translate(5.998 1.71)' fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5')
  path(id='패스_96' data-name='패스 96' d='M0,0H40V40H0Z' fill='none')
