svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='80' height='80' viewbox='0 0 80 80')
  defs
    filter(id='이미지_1' x='0' y='0' width='80' height='80' filterunits='userSpaceOnUse')
      feoffset(dy='-2' input='SourceAlpha')
        fegaussianblur(stddeviation='5' result='blur')
          feflood(flood-opacity='0.302')
            fecomposite(operator='in' in2='blur')
              fecomposite(in='SourceGraphic')
  g(id='그룹_74' data-name='그룹 74' transform='translate(-65 -158)')
    g(transform='matrix(1, 0, 0, 1, 65, 158)' filter='url(#이미지_1)')
      rect(id='이미지_1-2' data-name='이미지 1' width='50' height='50' transform='translate(15 17)')
    g(id='그룹_17' data-name='그룹 17' transform='translate(90.75 185)')
      path(id='패스_49' data-name='패스 49' d='M13.125,31.563A3.563,3.563,0,1,1,9.563,28,3.565,3.565,0,0,1,13.125,31.563Z' transform='translate(-2.438 -11.375)' fill='none' stroke='#6e6e6e' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5')
      path(id='패스_50' data-name='패스 50' d='M33.125,31.563A3.563,3.563,0,1,1,29.563,28,3.565,3.565,0,0,1,33.125,31.563Z' transform='translate(-10.563 -11.375)' fill='none' stroke='#6e6e6e' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5')
      path(id='패스_51' data-name='패스 51' d='M18,23.438V8H29.875V23.438' transform='translate(-7.313 -3.25)' fill='none' stroke='#6e6e6e' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5')
      path(id='패스_52' data-name='패스 52' d='M18,16H29.875' transform='translate(-7.313 -6.5)' fill='none' stroke='#6e6e6e' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5')
      path(id='패스_53' data-name='패스 53' d='M0,0H28.5V28.5H0Z' fill='none')
