svg(id='그룹_34' data-name='그룹 34' xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewbox='0 0 30 30')
  path(id='패스_61' data-name='패스 61' d='M7.65,11.65a5.613,5.613,0,0,0,0,7.95l9.6,9.606,9.6-9.606a5.621,5.621,0,0,0-7.95-7.95l-1.65,1.644L15.6,11.65A5.613,5.613,0,0,0,7.65,11.65Z' transform='translate(-2.25 -3.75)' fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5')
  path(id='패스_62' data-name='패스 62' d='M0,0H30V30H0Z' fill='none')
