svg(id='그룹_72' data-name='그룹 72' xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 40 40')
  path(id='패스_97' data-name='패스 97' d='M20.646,4A16.646,16.646,0,1,0,37.293,20.646,16.642,16.642,0,0,0,20.646,4ZM17.317,28.137V13.156l9.988,7.491Z' transform='translate(-0.646 -0.646)' fill='#fff')
  path(id='패스_98' data-name='패스 98' d='M0,0H40V40H0Z' fill='none')
