svg(id='그룹_56' data-name='그룹 56' xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 40 40')
  path(id='패스_86' data-name='패스 86' d='M10.9,28.3a1.611,1.611,0,0,1-.9-.275,2.378,2.378,0,0,1-1-2.011V9.037a2.378,2.378,0,0,1,1-2.011,1.61,1.61,0,0,1,1.831.025l12.7,8.688a2.279,2.279,0,0,1,0,3.573L11.832,28A1.661,1.661,0,0,1,10.9,28.3Z' transform='translate(2.8 2.476)' fill='#fff')
  path(id='패스_87' data-name='패스 87' d='M0,0H40V40H0Z' fill='none')
