svg(id='그룹_59' data-name='그룹 59' xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewbox='0 0 28 28')
  path(id='패스_33' data-name='패스 33' d='M12.633,18.063a3.509,3.509,0,0,0,0-3.127m0,3.127a3.5,3.5,0,1,1,0-3.127m0,3.127,7.735,3.873m-7.735-7,7.735-3.873m0,0A3.5,3.5,0,1,0,20,9.5,3.5,3.5,0,0,0,20.367,11.063Zm0,10.873A3.5,3.5,0,1,0,23.5,20,3.505,3.505,0,0,0,20.367,21.937Z' transform='translate(-2.5 -2.5)' fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5')
  path(id='패스_34' data-name='패스 34' d='M0,0H28V28H0Z' fill='none')
