svg(xmlns="http://www.w3.org/2000/svg", width="30", height="30", viewBox="0 0 30 30")
  g(id="그룹_40", data-name="그룹 40", transform="translate(-350 -40)")
    g(id="그룹_39", data-name="그룹 39", transform="translate(352.959 44.444)")
      path(id="패스_67", data-name="패스 67", d="M23.911,10.955A4.955,4.955,0,1,1,18.955,6,4.957,4.957,0,0,1,23.911,10.955Z", transform="translate(-7.063 -3.027)", fill="none", stroke="#fff", stroke-linecap="round", stroke-linejoin="round", stroke-width="2.5")
      path(id="패스_68", data-name="패스 68", d="M23.857,33.928A7.928,7.928,0,1,0,8,33.928m15.857,0A7.928,7.928,0,1,0,8,33.928", transform="translate(-4.036 -13.116)", fill="none", stroke="#fff", stroke-linecap="round", stroke-linejoin="round", stroke-width="2.5")
      path(id="패스_69", data-name="패스 69", d="M0,0H23.785V23.785H0Z", fill="none")
    g(id="타원_5", data-name="타원 5", transform="translate(350 40)", fill="none", stroke="#fff", stroke-width="2.5")
      circle(cx="15", cy="15", r="15", stroke="none")
      circle(cx="15", cy="15", r="13.75", fill="none")

